# Shiprocket Integration (Optional credentials for shipping & label generation)
SHIPROCKET_API_EMAIL=
SHIPROCKET_API_PASSWORD=
SHIPROCKET_PICKUP_LOCATION=

# Firebase API Configuration
FIREBASE_API_KEY=
